$vw-viewport: 1080;

@function get-vw($font, $cus-viewport: null) {
  $vw-context: $vw-viewport * 0.01 * 1px;
  @return $font / $vw-context * 1vmin;
}

body {
  // background-color: black;
  padding: 0 !important;
  box-sizing: border-box;
}

:global(#root) {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 100vmin;
  height: 100vmin;
  overflow: hidden;

  &::before,
  &::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
  }

  &::before {
    // background-image: url("./images/game/brass.jpg");
    // filter: blur(c(19px));
    // background-size: cover;
  }
  &::after {
    // position: absolute;
    // z-index: 100;
    opacity: 0.68;
    background-image: linear-gradient(225deg, #5d85b3 0%, #37495c 100%);
  }
}

.ThreeRadarChart {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  &__disable {
    pointer-events: none;
  }
}

.img__cover {
  position: absolute;
  left: 5vmin;
  top: 5vmin;
  width: 30vmin;
  height: 30vmin;
  object-fit: contain;
  z-index: 1;
  box-shadow: 0 get-vw(2px) get-vw(26px) 0 rgba(0, 0, 0, 0.5);
  border: solid get-vw(3px) #ffffff;
  opacity: 1;
  // opacity: 0.5;
}

.img__logo {
  position: absolute;
  right: get-vw(53px);
  bottom: get-vw(57px);
  width: get-vw(194px);
  height: auto;
  z-index: 4;
}

.btn {
  font-size: 1.5rem;
  line-height: 2rem;
  border-radius: calc(1.5rem / 2);
  background-color: white;
  cursor: pointer;
  padding: 0.4em 0.6em 0.1em;
  box-shadow: 0 get-vw(3px) get-vw(1px) rgba(0, 0, 0, 0.1),
    0 get-vw(4px) get-vw(8px) rgba(0, 0, 0, 0.3),
    0 0 0 get-vw(1px) rgba(0, 0, 0, 0.02);
  z-index: 2;
}

.btn__save_img {
  // position: absolute;
  right: 0%;
  bottom: 13vmin;
}

.btn__confirm_radar {
  // position: absolute;
  left: 0%;
  bottom: 13vmin;
}

.btn__add {
  // position: absolute;
  right: 0%;
  bottom: 13vmin;
}
