$vw-viewport: 1080;

@function get-vw($font, $cus-viewport: null) {
  $vw-context: $vw-viewport * 0.01 * 1px;
  @return $font / $vw-context * 1vmin;
}

.FanSlider {
  color: #ebe7e1;
  width: 100%;
  position: relative;
  z-index: 1;
  // transform: translateX("-100%");
}

.banner {
  position: absolute;
  z-index: 1;
  bottom: get-vw(190px);
  left: 0;
  background-color: #29313b;
  width: 100%;
  height: get-vw(240px);
  padding: get-vw(48px) get-vw(78px);
  border-top: solid get-vw(4px) #aac3e0;
  border-bottom: solid get-vw(4px) #aac3e0;
  h1 {
    font-size: get-vw(70px);
    line-height: 1em;
    font-weight: 900;
    span {
      font-size: 1.2em;
    }
  }
  h2 {
    font-size: get-vw(30px);
    line-height: get-vw(42px);
    font-weight: 500;
    margin-bottom: get-vw(21px);
  }
}

.box__fans {
  cursor: pointer;
  position: absolute;
  left: get-vw(78px);
  bottom: get-vw(65px);
  display: flex;
  flex-direction: row;
  z-index: 2;
}
