.SpringSlider {
  width: 100%;
  height: 100%;
}

.bar {
  position: relative;
  width: 100%;
  height: 100%;
  height: var(--bar-height);
  border-radius: calc(var(--bar-height) / 2);
}

.bar_active {
  height: 100%;
  background-color: var(--bar-color);
  border-radius: calc(var(--bar-height) / 2);
}

.dot__container {
  position: absolute;
  left: 0;
  top: 50%;
  cursor: pointer;
}

.box__marker {
  position: absolute;
  left: 0;
  bottom: calc(var(--dot-size) * 1.6);
  transform-origin: center bottom;
  user-select: none;
}

.marker {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 1rem;
  line-height: 1rem;
  transform: translateX(-50%);
}

.dot_thumb {
  width: var(--dot-size);
  height: var(--dot-size);
  background-color: var(--dot-color);
  line-height: var(--dot-size);
  text-align: center;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  user-select: none;
  border: 2px solid var(--bar-color);
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3),
    0 0 0 1px rgba(0, 0, 0, 0.02);
}

.label__value {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  transform: translateX(-50%);
  border-radius: calc(var(--dot-size) / 2) calc(var(--dot-size) / 2) 0 0;
  background-color: var(--label-color);

  width: var(--dot-size);
  height: calc(var(--dot-size) * 1.7);
  text-align: center;
  line-height: calc(var(--dot-size) * 1.2);
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3),
    0 0 0 1px rgba(0, 0, 0, 0.02);
}
